<form class="form-signin" role="form" ng-controller="LoginCtrl">
    <h2 class="form-signin-heading">Please sign in</h2>
    <div data-ng-hide="message == ''" class="alert alert-danger">
        {{message}}
    </div>
    <input type="text" class="form-control" placeholder="Username" data-ng-model="loginData.userName" required autofocus>
    <input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Login</button>
    <h4 style="text-align: center">or</h4><br>
    <a href="#/register" class="btn btn-lg btn-default btn-block" role="button"><span class="glyphicon glyphicon-user"></span> Register</a>
</form>